spring:
    application:
        name: userservice

    datasource:
        url: jdbc:postgresql://localhost:5440/userservice
        username: admin
        password: password
    
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: update
        database-platform: org.hibernate.dialect.PostgreSQLDialect